

.comics-list
    display: grid
    grid-template-columns: repeat(3, 225px)
    gap: 57px 67px
    &__img
        width: 225px
        height: 346px
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25))
        margin-bottom: 10px
    &__title
        font-weight: bold
        font-size: 14px
        line-height: 16px
        margin-bottom: 9px
    &__price
        font-size: 14px
        line-height: 16px
        color: rgba(0, 0, 0, 0.6)