@import '../../style/variables'
    
.app 
    background: url(../../resources/img/bg.jpg) no-repeat right bottom
main    
    width: 1100px
    margin: 0 auto
    padding: 50px 0
.char__content
    display: grid
    grid-template-columns: 650px 425px
    column-gap: 25px
    align-items: start
