.app 
    width: 900px
    margin: 0 auto
    padding: 50px 0 50px 0
    position: relative
    .bg-decoration 
        position: absolute
        right: -174px
        bottom: -70px
        z-index: -1
        width: 467px
        height: 372px
    
